In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('D:\\git\\dscp\\data\\classification_cleaned.csv')

# Display the first few rows of the dataframe
df.head()

            file_name  vulnerability       model
0  gpt4o_mini-34206.c              1  gpt4o_mini
1  gemini_pro-14924.c              1  gemini_pro
2  falcon180b-35726.c              1  falcon180b
3     gemma7b-15674.c              0     gemma7b
4      gemma7b-6476.c              1     gemma7b

In [2]:
# Check for duplicate values in the 'file_name' column
duplicate_file_names = df[df.duplicated('file_name', keep=False)]

# Display the duplicate file names
duplicate_file_names

Empty DataFrame
Columns: [file_name, vulnerability, model]
Index: []

In [3]:
# Group by 'model' and 'vulnerability' and count the occurrences
grouped_counts = df.groupby(['model', 'vulnerability']).size().reset_index(name='counts')

# Display the grouped counts
grouped_counts

            model  vulnerability  counts
0   codellama_13b              0    1832
1   codellama_13b              1    6050
2      falcon180b              0    4435
3      falcon180b              1   41570
4         falcon2              0    1228
5         falcon2              1    7358
6      gemini_pro              0    3674
7      gemini_pro              1   23898
8         gemma7b              0    4275
9         gemma7b              1   24137
10          gpt35              0    5555
11          gpt35              1   47769
12     gpt4o_mini              0    1648
13     gpt4o_mini              1   21284
14         llama2              0    2197
15         llama2              1    8660
16     mistral_7b              0     830
17     mistral_7b              1    5978

In [4]:
grouped_counts.to_csv('D:\\git\\dscp\\data\\classification_grouped_counts.csv', index=False)

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
# Define the function to create a balanced dataset
def create_balanced_dataset(df, num_samples):
    # Calculate the number of samples per group (model and vulnerability)
    num_per_group = num_samples // (df['model'].nunique() * df['vulnerability'].nunique())
    
    # Create a balanced dataset by sampling
    balanced_data = df.groupby(['model', 'vulnerability'], group_keys=False).apply(
        lambda x: x.sample(min(len(x), num_per_group), random_state=42)
    )
    
    # Adjust if the total size is slightly off due to rounding issues
    if len(balanced_data) > num_samples:
        balanced_data = balanced_data.sample(n=num_samples, random_state=42)
    
    return balanced_data

In [7]:
# Example: Create a balanced dataset with 5000 examples
num_samples = 5000
balanced_df = create_balanced_dataset(df, num_samples)

# Split into train and test sets
train_df, test_df = train_test_split(balanced_df, test_size=0.2, random_state=42)

C:\Users\muham\AppData\Local\Temp\ipykernel_23340\3223068848.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_data = df.groupby(['model', 'vulnerability'], group_keys=False).apply(

In [8]:
# Group by 'model' and 'vulnerability' and count the occurrences for train_df
train_grouped_counts = train_df.groupby(['model', 'vulnerability']).size().reset_index(name='counts')
train_grouped_counts.to_csv(f'D:\\git\\dscp\\data\\classification_{num_samples}_train_grouped_counts.csv', index=False)

# Display the grouped counts
print("Train DataFrame Grouped Counts:")
print(train_grouped_counts)

Train DataFrame Grouped Counts:
            model  vulnerability  counts
0   codellama_13b              0     212
1   codellama_13b              1     222
2      falcon180b              0     213
3      falcon180b              1     221
4         falcon2              0     224
5         falcon2              1     208
6      gemini_pro              0     225
7      gemini_pro              1     223
8         gemma7b              0     230
9         gemma7b              1     223
10          gpt35              0     240
11          gpt35              1     231
12     gpt4o_mini              0     236
13     gpt4o_mini              1     217
14         llama2              0     224
15         llama2              1     210
16     mistral_7b              0     217
17     mistral_7b              1     212

In [9]:
# Group by 'model' and 'vulnerability' and count the occurrences for test_df
test_grouped_counts = test_df.groupby(['model', 'vulnerability']).size().reset_index(name='counts')
test_grouped_counts.to_csv(f'D:\\git\\dscp\\data\\classification_{num_samples}_test_grouped_counts.csv', index=False)

print("\nTest DataFrame Grouped Counts:")
print(test_grouped_counts)

Test DataFrame Grouped Counts:
            model  vulnerability  counts
0   codellama_13b              0      65
1   codellama_13b              1      55
2      falcon180b              0      64
3      falcon180b              1      56
4         falcon2              0      53
5         falcon2              1      69
6      gemini_pro              0      52
7      gemini_pro              1      54
8         gemma7b              0      47
9         gemma7b              1      54
10          gpt35              0      37
11          gpt35              1      46
12     gpt4o_mini              0      41
13     gpt4o_mini              1      60
14         llama2              0      53
15         llama2              1      67
16     mistral_7b              0      60
17     mistral_7b              1      65

In [10]:
train_csv_file = f'D:\\git\\dscp\\data\\classification_{num_samples}_train.csv'
train_df.to_csv(train_csv_file, index=False)

test_csv_file = f'D:\\git\\dscp\\data\\classification_{num_samples}_test.csv'
test_df.to_csv(test_csv_file, index=False)

print(f"Balanced dataset created with {len(balanced_df)} examples.")
print(f"Train set size: {len(train_df)}")
print(f"Test set size: {len(test_df)}")

Balanced dataset created with 4986 examples.
Train set size: 3988
Test set size: 998